<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" class="flex flex-col p-lg rounded bg-white">
  <h3 class="text-xl">Оставьте заявку</h3>
  <mat-form-field class="example-form-field">
    <mat-label>Имя</mat-label>
    <input matInput type="text" formControlName="name" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearField('name')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Телефон</mat-label>
    <input matInput type="text" formControlName="phone" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearField('phone')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Сообщение</mat-label>
    <input matInput type="text" formControlName="message" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearField('message')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="mt-md">
    <button mat-raised-button color="primary" type="submit" class="w-full">Написать</button>
  </div>
</form>
