<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    mode="over"
    position="end"
    class="sidenav"
    [class.hidden]="!(isHandset$ | async)"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Главная</a>
      <a mat-list-item href="#">0 нас</a>
      <a mat-list-item href="#">Услуги</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>vag-banda</span>
      <span style="flex: 1 1 auto"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <hr style="margin: 20px 0" />
    <mat-toolbar *ngIf="!(isHandset$ | async)">
      <mat-nav-list class="desktop-menu">
        <a mat-raised-button color="accent" href="#">Главная</a>
        <a mat-raised-button color="accent" href="#">0 нас</a>
        <a mat-raised-button color="accent" href="#">Услуги</a>
      </mat-nav-list>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<button mat-stroked-button-->
<ng-container *ngTemplateOutlet="menuList"></ng-container>
<ng-template #menuList></ng-template>
