<div class="flex">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Викуся</mat-card-title>
      <mat-card-subtitle>Адвокат Столичный</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsI7fNhgua5vQl78cbrgZNqpc67Kp5MzOa7EkZaLJB1HYkQhC7xst2Z7rB1ryH171jwFk&usqp=CAU"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-actions class="flex">
      <a mat-button color="primary" href="tel:+380956521627">
        <span class="mat-headline">Позонить</span>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
