.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
  padding: 10px 0;
}
/* custom */
.logo-img {
  height: 64px;
  width: auto;
}
.logo-img-menu {
  height: 30px;
}

.text-icon {
  width: auto !important;
  height: auto !important;
  font-size: 30px;

}
