<div class="flex">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ванюша</mat-card-title>
      <mat-card-subtitle>Директор по всей херне</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5czvNvBag0Scj-5K1hq7laxGhlKArS0WFc5pBbDXMJN5TremUtuiL6t8oMv2UeAOSErQ&usqp=CAU"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-actions class="flex">
      <a mat-button color="primary" href="tel:+380731104101">
        <span class="mat-headline">Позонить</span>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
