@import '~@angular/material/theming';

@include mat-core();
//Желтый fff343
//Салатовый d0dc4e
//Голубой 4d6d9c
//Синий 435473
//Темно-синий 313c53
//
$bnd-deep-blue: (
  50: #5c667f,
  100: #5c667f,
  200: #5c667f,
  300: #5c667f,
  400: #313c53,
  500: #313c53,
  600: #313c53,
  700: #313c53,
  800: #08162a,
  900: #08162a,
  A100: #657ba4,
  A200: #313c53,
  A400: #313c53,
  A700: #08162a,
  contrast: (
    50: #ffffff,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: #ffffff
  )
);

$bnd-yellow: (
  50: #ffff79,
  100: #ffff79,
  200: #ffff79,
  300: #ffff79,
  400: #fff343,
  500: #fff343,
  600: #fff343,
  700: #fff343,
  800: #c8c100,
  900: #c8c100,
  A100: #ffff79,
  A200: #fff343,
  A400: #fff343,
  A700: #c8c100,
  contrast: (
    50: #ffffff,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: #ffffff
  )
);

$bnd-primary: mat-palette($bnd-deep-blue, 600, 100, 700, 400);
$bnd-accent: mat-palette($bnd-yellow, 400, 100, 700, 400);
$bnd-warn: mat-palette($mat-red, 500);

$bnd-theme: mat-light-theme(
  (
    color: (
      primary: $bnd-primary,
      accent: $bnd-accent,
      warn: $bnd-warn
    )
  )
);

@include angular-material-theme($bnd-theme);
