@import '~normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.main-wrapper {
  @apply px-md !important;
}

@media only screen and (min-width: theme('screens.md')) {
  .main-wrapper {
    @apply px-lg !important;
  }
}


.text-primary {
  @apply text-indigo;
}
.text-accent {
  @apply text-yellow;
}
